@media screen and (max-width: 1200px) {
    .container {
        max-width: 900px;
    }

    .post-list > .item {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 700px;
    }

    .post-list > .item .info {
        flex-wrap: wrap;
    }

    .post-detail .top {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .post-detail .top > .info {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: calc(100vw - 1rem * 2);
    }
}
