body {
    font-family: "Noto Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: auto;
}

header,
footer {
    background: #141414;
    color: #b2b6b9;
    padding: 0.5rem 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    flex: 0 1;
}

header > .container,
footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .link-list,
footer .link-list {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

header .link-list > a,
footer .link-list > a {
    color: #b2b6b9;
    text-decoration: none;
}

header .link-list > a:hover,
footer .link-list > a:hover {
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo .logo-img {
    max-width: 100px;
}

.logo .logo-img img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

main {
    flex: 1 0 auto;
    background: #1a1c20;
    color: #b2b6b9;
}

main section {
    padding: 1.5rem 0;
}

main section h2 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.post-list > .item {
    display: flex;
    align-items: start;
    gap: 0.75rem;
    flex-wrap: wrap;
    border-bottom: dotted rgba(46, 46, 55, 0.5);
    padding-bottom: 0.75rem;
    color: #b2b6b9;
    text-decoration: none;
    width: 100%;
}

.post-list > .item:hover {
    color: #fff;
    border-bottom: dotted rgba(46, 46, 55, 1);
}

.post-list > .item .info {
    flex: 0 1;
    display: flex;
    white-space: nowrap;
    gap: 0.75rem;
}

.post-list > .item .info i,
.post-list > .item .info span {
    font-size: 14px;
}

.post-list > .item h3 {
    flex: 1 0;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.post-detail .top {
    display: flex;
    align-items: start;
    gap: 0.75rem;
    flex-wrap: wrap;
    border-bottom: dotted rgba(46, 46, 55, 0.3);
    padding-bottom: 0.75rem;
    color: #b2b6b9;
    text-decoration: none;
    width: 100%;
    margin-bottom: 1rem;
}

.post-detail .top .info {
    flex: 0 1;
    display: flex;
    white-space: nowrap;
    gap: 0.75rem;
}

.post-detail .top h2 {
    flex: 1 0;
    font-size: 16px;
    margin: 0;
}

.post-detail .body {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding-bottom: 0.75rem;
    border-bottom: dotted rgba(46, 46, 55, 0.5);
}

.pagination {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.pagination .item {
    font-size: 12px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #b2b6b9;
    text-transform: uppercase;
}

.pagination .item:hover {
    color: #fff;
}

.pagination .item i {
    font-size: 10px;
}

.post-detail .pagination {
    margin-top: 0.75rem;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

form input {
    background: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #b2b6b9;
    padding: 0.5rem 1rem;
    border: dotted rgba(46, 46, 55, 0.5);
}

form.search {
    margin-bottom: 1rem;
}

form input:focus {
    outline: none;
    border: dotted rgba(46, 46, 55, 1);
    color: #b2b6b9;
}

form.search input {
    flex: 1 0;
}

form button {
    border: none;
    border-radius: 0;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    color: #b2b6b9;
    cursor: pointer
}

form button:hover {
    color: #fff;
}
